<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
   integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<h1>angular</h1>
<app-courses></app-courses>

<app-title-format></app-title-format>

<app-like [is-liked]="tweet.like" [total-number-of-likes]="tweet.totlaLikes" (on-like-change)="onLikeChange($event)">
</app-like>

<app-zippy title="heder">
   content message

</app-zippy>

<div style="width: 50%;">
   <app-zippy title="heder 2 .." >
      content message conterdfdsf dhfjd
   </app-zippy>
</div>
